body{
    background-color: #1d1c1c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
.main{
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem;
    gap: 2rem;
}
.image{
    width: 40%;
}
.image img{
    border-radius: 10%;
}
.content{
width: 60%;
margin-top: 5rem;
}
.content h1{
    margin-bottom: 1rem;
}
.content h3{
    margin-bottom: 1rem;
}
span{
    color: #b74b4b;
}
.btn{
    display: inline-block;
    padding: 1rem;
    background-color: black;
    border-radius: 4rem;
    border: 2px solid #b74b4b;
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.2rem;
    color: #b74b4b;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn:hover{
    background-color: #b74b4b;
    transform: scale3d(1.03);
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}
/* Make the navbar background transparent */
.transparent-bg {
    background-color: transparent;
  }

  /* Default crimson text color for Home */
  .crimson-text {
    color: #b74b4b !important;
  }

  /* Links hover effect: crimson text and crimson underline */
  .nav-link {
    color: black; /* Default color for links */
    text-decoration: none; /* Remove underline by default */
  font-weight: 800;
}

  .nav-link:hover {
    color: #b74b4b; /* Crimson text on hover */
    text-decoration: underline; /* Underline on hover */
    text-decoration-color: #b74b4b; /* Crimson underline */
  }

  /* Keep the active link (Home) crimson by default */
  .nav-link.active {
    color: #b74b4b;
  }
.navbar-brand{
    color: #b74b4b;
    font-weight: 800;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2rem;
}
.social-links{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.social-links a{
    color: #b74b4b;
    font-size: 1.5rem;
}
.social-links a:hover{
    color: #fff;
}
.dropdown-menu {
    background-color: brown; /* Set dropdown background color to brown */
  }









